html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}
